{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<style>


</style>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
   
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner" style="width:100%;height:550px">
    <div class="carousel-item active">
      <img src="{% static 'images/agrishop_final_logo.png' %}" alt="Los Angeles" style="height:550px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/aggggrrriii_1.jpg' %}" alt="Chicago" style="height:550px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/fertilizer_!.jfif' %}" alt="New York" style="height:550px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/saftey.jfif' %}" alt="New York" style="height:550px">
    </div>
    
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


{% block b %}
{% endblock %}



{% endblock %}